@import url('https://fonts.googleapis.com/css?family=Cinzel|Cinzel+Decorative|Lato|Lato:100|Lato:300|Lato:400');
html, body {
    height: 100%;
    margin: 0 auto;
}
#wrapper1 {
    text-align: center;
    height: 100%;
}
.img {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    opacity: .85;
    display: block;
}
/* Images used */
#img1 {
    background-image: url("../images/kansas-city-photographer-engagement-couples-portrait-west-bottoms-18-lyp.jpg");
	z-index: -1;
}
#img2 {
    background-image: url("../images/kansas-city-photographer-katz-family-portraits-16-lyp.jpg");
}
#img3 {
    background-image: url("../images/kansas-city-photographer-men-male-solo-individual-lifestyle-portrait-14-lyp.jpg");
}
#img4 {
    background-image: url("../images/kansas-city-photographer-newborn-baby-children-portrait-travel-theme-dr-seuss-globe-suitcase-13-lyp.jpg");
}
#img5 {
    background-image: url("../images/kansas-city-photographer-women-female-solo-individual-lifestyle-portrait-5-lyp.jpg");
}
#img6 {
    background-image: url("../images/lawrence-kansas-university-campus-graduation-photos-13-lyp.jpg");
}
header {
    display: block;
    /*   padding: .5em 1em;   */
	/*start delete*/
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;/*end delete*/
}
#logo {
    position: absolute;
    top: 1em;
    left: 1em;
    margin: -1.15em 0px 0px -1em;
}
.logo-responsive {
    height: auto;
    width: auto;
    max-height: 2em;
    max-width: 2em;
}
/*start delete*/
nav {
    background-color: #E8C66A;
    border: 1px black solid;
    padding: 20px;
}
/*end delete*/
div, section {
    background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}
nav a {
    text-decoration: none;
    display: inline-block;
    list-style: none;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    color: #690DAF;
    padding: .25em .75em;
}
#navtop {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    max-height: 15%;
    text-align: center;
}
nav a:hover {
    background-color: #A9F9EA;
    padding: .25em .75em;
}
nav a:active {
    border: 1px solid #A9F9EA;
}
div.top {
    z-index: 1;
}
#LYP {
    font-weight: 700;
    font-size: .75em;
    font-family: 'Cinzel Decorative', cursive;
    letter-spacing: .5em;
    color: white;
    text-shadow: 0px 0px .25px black;
    padding-top: 2em;
}
#slogan {
    font-weight: 700;
    font-size: 2em;
    font-family: 'Cinzel Decorative', cursive;
    letter-spacing: .125em;
    color: white;
    text-shadow: 0px 0px 2px black;
}
h2, p, nav.text-center, ul {
    text-align: center;
    font-family: 'lato', sans-serif;
    font-size: 1.5em;
    color: #064A65;
}
h1 {
    text-align: center;
    font-family: 'lato', sans-serif;
    font-size: 1.5em;
    color: #064A65;
    text-shadow: 0px 0px .125px black;
}
h3 {
    text-align: center;
    font-family: 'Cinzel Decorative', cursive;
    font-weight: 100;
    color: white;
    letter-spacing: .2em;
    font-size: 2em;
    margin-right: -2em;
    text-shadow: 0px 0px .125px black;
}
/*Homepage CTA*/
.homepage-cta a {
    display: block;
    text-decoration: none;
    color: #054B66;
}
.btn {
    border: 1px solid #054B66;
    box-shadow: 0px 0px 1px black;
    background-color: #A9F9EA;
    padding: 15px 15px;
    font-size: 24px;
    font-weight: 300;
    margin: auto;
    display: block;
    position: fixed;
    bottom: 25px;
    left: 42%;
    z-index: 1;
}
.btn:hover, .btn:hover a {
    background-color: #690DAF;
    border-color: white;
    color: white;
    display: block;
    font-weight: 400;
}
span.center {
    display: inline-block;
    margin: 0 auto;
}
/*Homepage Text Effect*/
.container {
    position: absolute;
    top: 45%;
    left: 42%;
    text-align: center;
    transform: translateX(-50%, -50%);
}
.animated-words {
    font-size: 3em;
    font-family: 'Cinzel Decorative', cursive;
    font-weight: 100;
    color: white;
    text-shadow: 0px 0px 1px black;
}
.animated-words span {
    position: absolute;
    opacity: 0;
    overflow: hidden;
    -webkit-animation: animateWord 17s linear infinite 0s;
    -ms-animation: animateWord 17s linear infinite 0s;
    animation: animateWord 17s linear infinite 0s;
}
.animated-words span:nth-child(2) {
    -webkit-animation-delay: 3s;
    -ms-animation-delay: 3s;
    animation-delay: 3s;
}
.animated-words span:nth-child(3) {
    -webkit-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s;
}
.animated-words span:nth-child(4) {
    -webkit-animation-delay: 9s;
    -ms-animation-delay: 9s;
    animation-delay: 9s;
}
.animated-words span:nth-child(5) {
    -webkit-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s;
}
.animated-words span:nth-child(6) {
    -webkit-animation-delay: 15s;
    -ms-animation-delay: 15s;
    animation-delay: 15s;
}
@-webkit-keyframes animateWord {
 0% {
opacity: 0;
}
 2% {
opacity: 0;
-webkit-transform: translateY(-30px);
transform: translateY(-30px);
}
 5% {
opacity: 1;
-webkit-transform: translateY(0px);
 transform: translateY(0px);
}
 17% {
opacity: 1;
-webkit-transform: translateY(0px);
 transform: translateY(0px);
}
 20% {
opacity: 0;
-webkit-transform: translateY(30px);
 transform: translateY(30px);
}
 80% {
opacity: 0;
}
 100% {
opacity: 0;
}
}
#article {
    /*   padding: 7em 7em;   */
		/*start delete*/
    background-color: #E89C6C;
    border: 1px black solid;
    padding: 20px;/*end delete*/
}
footer {
    /*start delte*/
    background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
    /*end delete*/
    display: block;
    /*   padding: .5em 1em;   */
    position: static;
    bottom: 0;
    width: 100%;
    max-height: 3em;
    text-align: center;
    z-index: 2;
    font-size: .75em;
}
footer li {
    display: inline;
    padding: 0 2em;
}
sup {
    font-size: .125em;
}
