@import url('https://fonts.googleapis.com/css?family=Cinzel|Cinzel+Decorative|Cinzel+Decorative:700|Cinzel+Decorative:900|Lato|Lato:100|Lato:300|Lato:400');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html, body {
	width: 100%;
	font-size: 16px;
}
#wrapper1 {
    text-align: center;
}

header {
    display: block;
	padding: .5em 1em;
}
#logo {
    position: absolute;
    top: 1.25em;
    left: 1.25em;
    margin: -1.15em 0px 0px -1em;
}
.logo-responsive {
    height: auto;
    width: auto;
    max-height: 2em;
    max-width: 2em;
}
nav a {
    text-decoration: none;
    display: inline-block;
    list-style: none;
    font-size: 1.25em;
    font-family: 'Lato', sans-serif;
    color: #690DAF;
    padding: .5em .75em;
}

#navtop {
    position: -webkit-sticky;
    position: fixed;
    top: 0;
	left: 0;
	width:100%;
    text-align: center;
	background-color: white;
	display: block;
	box-shadow: -0.1em 0px .25em black;
	z-index: 999;
}
nav a:hover {
    background-color: #A9F9EA;
    padding: .25em .75em;
}
nav a:active {
    border: 0.063em solid #A9F9EA;
}

.navtop img:hover {
	background-color: #ffffff;
}
#LYP {
    font-weight: 700;
    font-size: .75em;
    font-family: 'Cinzel Decorative', cursive;
    letter-spacing: .5em;
    color: white;
    text-shadow: 0px 0px 0.016em black;
    padding-top: 2em;
	position: absolute;
	text-align: center;
	display: block;
	top: 3em;
	left: 20%;
	right: 20%;
}

#slogan {
    font-weight: 700;
    font-size: 2em;
    font-family: 'Cinzel Decorative', cursive;
    letter-spacing: .125em;
    color: white;
    text-shadow: 0px 0px 0.125em black;
}
p {
    text-align: center;
    font-family: 'lato', sans-serif;
    font-size: 1.5em;
    color: #064A65;
}
h1 {
    text-align: center;
    font-family: 'lato', sans-serif;
    font-size: 1.5em;
    color: #064A65;
    text-shadow: 0px 0px 0.008em black;
}
h2 {
    text-align: center;
    font-family: 'lato', sans-serif;
    font-size: 1.25em;
    color: #064A65;
    text-shadow: 0px 0px 0.008em black;
}
h4 {
	font-weight: 700;
    font-size: 1.85em;
    font-family: 'Cinzel Decorative', cursive;
    letter-spacing: .125em;
    color: white;
    text-shadow: 0px 0px 0.125em black;
	padding-top: 1em;
}



#h3LYP {
    text-align: center;
    font-family: 'Cinzel Decorative', cursive;
    font-weight: 100;
    color: white;
    letter-spacing: .2em;
    font-size: 2em;
    text-shadow: 0px 0px 0.008em black;
}
/*Homepage CTA*/
.homepage-cta a {
    display: block;
    text-decoration: none;
    color: #054B66;
}
.btn {
    border: .008em solid #054B66;
    box-shadow: 0px 0px .008em black;
    background-color: #A9F9EA;
    padding: 0px 0px;
    font-size: 1.5em;
    font-weight: 300;
	margin: 0 auto; 
    text-align: center;
  	display: inline-block;
    position: fixed;
	height: 3em;
	width: 12em;
    bottom: 10%;
	left: 50%;
	transform: translateX(-50%);
    z-index: 1;
}

.btn:hover, .btn:hover a {
    background-color: #690DAF;
    border-color: white;
    color: white;
    display: block;
    font-weight: 300;
}

#front {
	display: block;
	position: absolute;
	top: 6em;
	left: 15%;
	right: 15%;
}


/*Background Image Transition*/
#slideshow {
	display: block;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}
.back-slideshow,
.back-slideshow:after { 
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
	z-index: -1;
	padding: 0px 0px;
}
.back-slideshow:after { 
    content: '';
    background: repeat top left; 
	background: transparent;
}

.back-slideshow li span { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
	color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 36s linear infinite 0s; 
}

.back-slideshow li {
	list-style:none;
}

.back-slideshow li div { 
    z-index: 1000;
    position: absolute;
	top: 50%;
    width: 100%;
    opacity: 0;
    color: #fff;
    animation: titleAnimation 36s linear infinite 0s; 
}
.back-slideshow li div h3 { 
    font-family: 'Cinzel Decorative', cursive;
	font-size: 3em;
    padding: 0;
    font-weight: 700;
	line-height: 2em;
    color: white;
    text-shadow: 0px 0px 0.063em black;
	text-align: center;
}


.back-slideshow li:nth-child(1) span { 
    background-image: url("../images/kansas-city-photographer-katz-family-portraits-16-lyp-purple-img1-tiny.jpg"); 
}
.back-slideshow li:nth-child(2) span { 
    background-image: url("../images/kansas-city-photographer-newborn-baby-children-portrait-travel-theme-dr-seuss-globe-suitcase-13-lyp-purple-img2-tiny.jpg");
    animation-delay: 6s; 
}
.back-slideshow li:nth-child(3) span { 
    background-image: url("../images/kansas-city-photographer-engagement-couples-portrait-west-bottoms-18-lyp-purple-img3-tiny.jpg");
    animation-delay: 12s; 
}
.back-slideshow li:nth-child(4) span { 
    background-image: url("../images/kansas-city-photographer-women-female-solo-individual-lifestyle-portrait-5-lyp-purple-img4-tiny.jpg");
    animation-delay: 18s; 
}
.back-slideshow li:nth-child(5) span { 
    background-image: url("../images/kansas-city-photographer-men-male-solo-individual-lifestyle-portrait-14-lyp-purple-img5-tiny.jpg");
    animation-delay: 24s; 
}
.back-slideshow li:nth-child(6) span { 
    background-image: url("../images/lawrence-kansas-university-campus-graduation-photos-13-lyp-purple-img6-tiny.jpg");
    animation-delay: 30s; 
}

.back-slideshow li:nth-child(2) div { 
    animation-delay: 6s; 
}
.back-slideshow li:nth-child(3) div { 
    animation-delay: 12s; 
}
.back-slideshow li:nth-child(4) div { 
    animation-delay: 18s; 
}
.back-slideshow li:nth-child(5) div { 
    animation-delay: 24s; 
}
.back-slideshow li:nth-child(6) div { 
    animation-delay: 30s; 
}


@keyframes imageAnimation { 
    0% { opacity: 0; animation-timing-function: ease-in; }
    8% { opacity: 1; animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

@keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}

.no-cssanimations .cb-slideshow li span{
	opacity: 1;
}





/* SERVICES */

.two_column {
	width: 90%;
	margin: 0 auto;
	display: block;
	overflow: auto;
	padding-bottom: 5%;
}

.two_column div {
	width: 40%;
	overflow: auto;
	display: inline-block;
	position: relative;
	padding: 6% 5% 5% 5%;
}

.two_column h4 {
	margin: 0 auto;
	display: inline-block;
	position: absolute;
	top: 8%;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

.two_column img {
    width: 100%;
	overflow: hidden;
}

.left {
    float: left;
	margin: 0 auto;
}

.right {
	float: right;
	margin: 0 auto;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}



#imageme {
	width: 50%;
	margin: 0 auto;
	padding-top: 10%;
	padding-bottom: 5%;
}



#article p {
	line-height: 1.6em;
	text-align: center;
	width: 34em;
	margin: 0 auto;
	padding: 0 5% 1.5% 5%;
}

#article {
	display: block;
	width: 100%;
	padding: 5% 5% 8% 5%;
	border-top: solid .5em blueviolet;
}






footer {
	display: flex;
	justify-content: center;
	text-align: center;
    bottom: 0;
    width: 100vw;
    z-index: 2;
	background-color: white;
	margin: 0px 0px;
	padding: 0px 0px;
}
footer ul li {
    display: inline-block;
    padding: 0px 0px;
	font-size: .75em;
	list-style: none;
}
footer ul {
	padding-inline-start: 0px;
	margin: .5em 0px;
	}
#c2019 {
	font-size: .75em;
	padding: 0px 0px;
	text-align: center;
	margin: .25em 0px;
}









/*MEDIA QUERIES*/




@media only screen and (max-width: 1300px) {
	#article {
		padding: 5% 5% 9% 5%;
	}
}



@media only screen and (max-width: 1125px) {
	#article {
		padding: 5% 5% 7% 5%;
	}
	.btn {
    bottom: 8%;
	}
}



@media only screen and (max-width: 1050px) {
	#article {
		padding: 5% 5% 8% 5%;
	}
}


@media only screen and (max-width: 1000px) {
	#article {
		padding: 5% 5% 9% 5%;
	}
}


@media only screen and (max-width: 907px) {
	#article p {
		line-height: 1.6em;
		width: 30em;
	}
	#article {
		padding-bottom: 11%;
	}
}



@media only screen and (max-width: 850px) {
	#article {
		padding: 5% 5% 10% 5%;
	}
}


@media only screen and (max-width: 800px) {
	#article p {
		line-height: 1.5em;
		width: 25em;
	}
}


@media only screen and (max-width: 750px) {
	#article {
		padding: 5% 5% 12% 5%;
	}
}

@media only screen and (max-width: 700px) {
	#article {
		padding-right: 0;
		padding-left: 0;
	}
	#article p {
		line-height: 1.4em;
		width: auto;
	}
}


@media only screen and (max-width: 630px) {
	#article {
		padding: 5% 5% 14% 5%;
	}
}


@media only screen and (max-width: 590px) {
	#article {
		padding: 5% 5% 17% 5%;
	}
}




@media only screen and (max-width: 475px) {
	#article {
		padding: 5% 5% 18% 5%;
	}
}


@media only screen and (max-width: 450px) {
	#article {
		padding: 5% 5% 19% 5%;
	}
}


@media only screen and (max-width: 430px) {
	#article {
		padding: 5% 5% 20% 5%;
	}
}


@media only screen and (max-width: 400px) {
	#article {
		padding: 5% 5% 22% 5%;
	}
}


@media only screen and (max-width: 365px) {
	#article {
		padding: 5% 5% 24% 5%;
	}
}


@media only screen and (max-width: 360px) {
	#article {
		padding: 5% 5% 26% 5%;
	}
		.btn {
    bottom: 10%;
	}
	.two_column {
	width: 100%;
}

.two_column div {
	width: 95%;
	padding-bottom: 15%;
}
		
	#h3LYP {
		font-size: .5em;
		width: 100%;
		margin: 0 auto;
	}
	#front {
		top: 20vh;
		left: 0;
		right: 0;
	}
	#slogn {
		font-size: .75em;
	}
	#navtop {
	height: auto;
	}
}



@media only screen and (max-width: 300px) {
	#article {
		padding: 5% 5% 28% 5%;
	}
}



@media only screen and (max-width: 290px) {
	#article {
		padding: 5% 5% 32% 5%;
	}
}




@media only screen and (min-width: 1500px) and (max-width: 1606px){
	#slogan {
    max-width: 20em;
	margin: 0 auto;
	}
}


	
@media only screen and (max-width: 900px){
	.left {
    	float: none;
	}
	.right {
		float: none;
	}
	.two_column div {
		display: block;
		width: 90%;
	}
	#imageme {
	width: 75%;
	}
}





@media only screen and (max-width: 568px){


	#navtop {
	height: 8vh;
	}
	
	
	#slogan {
	    width: auto;
		font-size: 1.75em;
	}
	
	#LYP {
		top: 8vh;
		width: auto;
		margin: 0;
		left: 0;
		right: 0;
	}
	#front {
		top: 15vh;
	}
	
	#h3LYP {
		font-size: 1.75em;
	}
	
	#logo {
    top: 23%;
    left: 1%;
		margin: 0 0;
	}
	
	nav a {
		padding: .25em .75em;
	}
	
}

