body {
	background-size: cover;
	background: url("../images/kansas-city-photographer-katz-family-portraits-16-lyp.jpg");
}

#logo {
	object-position: left;
	max-height: 75px;
}

header {
	background: white;
	padding: 15px 15px;
}

#nav {
	list-style: none;
	display: block;
}

#nav li {
	display: inline;
	text-decoration: none;
}

.LYP {
	text-align: center;
	font-weight: 700;
}
